@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@import "tailwindcss";

@theme {
  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Navy */
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;

  /* Orange */
  --color-orange-300: #ff8b64;

  /* Purple */
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;

  /* Blue */
  --color-blue-300: #55c2e6;

  /* Pink */
  --color-pink-400: #ff5e7d;

  /* Green */
  --color-green-400: #4bcf82;

  /* Yellow */
  --color-yellow-300: #f1c75b;

  /* Grey */
  --color-grey-200: #d8d8d8;

  --font-rubik: "Rubik", sans-serif;

  --text-heading-xl: 56px/66px var(--font-rubik);
  --text-heading-lg: 40px/47px var(--font-rubik);
  --text-heading-md: 32px/38px var(--font-rubik);
  --text-heading-sm: 24px/28px var(--font-rubik);

  --text-body-lg-strong: 18px/21px var(--font-rubik);
  --text-body-lg: 18px/21px var(--font-rubik);
  --text-body-sm: 15px/18px var(--font-rubik);

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
}

body {
  background: var(--background);
  color: var(--foreground);
}
